.logoTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
h1{
    font-size: 1.5em;
    text-align: center;
}
.menuNavegacao{
    text-align: center;
    font-size: 0.6em;
    flex-wrap: wrap;
}
.produetosemdestaque{
    text-align: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.btProdDestaque:hover{
    background-color: #f0f0f0;
    /* transform: translateY(-0.3em); */
    transform: scale3d(1.5, 1.5, 1.5);
    transition: transform 0.5s, background-color 0.2s;
}
.informacoesContato{
    color: #656161;
    background: linear-gradient(
        rgb(9, 9, 0), #000000
    );
    
    text-align: center;
    font-size: 0.7em;
    margin-top: 20px;
}
.contato-link{
    color: #656161;
}