
body{
    min-height: -100vh;
    margin: 0;
    background: linear-gradient( 45deg,
        rgb(9, 9, 0), rgb(40, 59, 34),rgb(0, 0, 0),rgb(0, 0, 0)
    );
    
}
#cabecalho{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #00000093;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    z-index: 1000;
}
.logoTitulo{
    h1{
        color: #e9e2e2e7;
        font-size: 1.5em;
    text-align: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: uppercase;
}
.menuNavegacao{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 0.8em;
    flex-wrap: wrap;
    text-align: center;
    transform: translateY(-0.3em);
    a{
        text-decoration: none;
        font-family: 'Audiowide', cursive;
        color: #f0f0f0;
    }
}
#lancamentos:hover, #promocoes:hover, #calcados:hover, #camisetas:hover, #camisas:hover{
    transition: color 0.3s;
    color: #8dc026;
}
.apresentacao{
    color: #f0f0f0;
    margin-top: 7em;
    margin-left: 5%;
    margin-right: 5%;
}
.produetosemdestaque{
    h3{
        color: #f0f0f0;
    }
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-top: -10px;
    flex-wrap: wrap;
}
.btProdDestaque{
    p{
        text-align: center;
        opacity: 0.1;
    }
    
    margin-inline: 1.5em;
    overflow: hidden;
    padding: 0.5em;
    border-radius: 0.9em;
    img{
        object-fit: cover;
        border-radius: 1.1em;
        filter: brightness(0.5);
    }
}
.btProdDestaque:hover{
    overflow: hidden;
    padding: 0.5em;
    border-radius: 0.9em;
    background-color: #f0f0f0;
    transform: scale3d(1.07, 1.07, 1.07);
    transition: transform 0.5s, background-color 0.2s;
    img{
        object-fit: cover;
        border-radius: 1.1em;
        filter: brightness(1.12);
    }
}
.quemsomos{
    display: flex;
    background-color: rgb(0, 0, 0
    );
    background-size: auto;
    text-align: left;
    margin-top: 5em;
    margin-left: 0%;
    margin-right: 0%;
    h3{
        color: #f0f0f0;
        height: auto;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1.5em;
    }
    p{
        color: #f0f0f0;
        height: auto;
        margin-right: 2em;
        margin-left: 2em;
    }
    li{
        color: #f0f0f0;
        height: auto;
        margin-right: 2em;
        margin-left: 4em;
    }
}
.contato{
    margin-bottom: 5px;
    display: flex;
    color: #c79b9b;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    input{
        border-radius: 0.9em;
        margin-top: 10px;
        margin-left: 5em;
        margin-right: 5em;
        padding: 10px;
        border: none;
        font-size: 1em;
    }
    textarea{
        border-radius: 0.9em;
        margin-top: 10px;
        margin-left: 5em;
        margin-right: 5em;
        padding: 10px;
        border: none;
        font-size: 1em;
    }
}
#enviarMSG{
    border-radius: 0.9em;
    margin-top: 10px;
    margin-left: 5em;
    margin-right: 5em;
    padding: 10px;
    border: none;
    background-color: #e00505;
    color: #3e3c3c;
    font-size: 1em;
    cursor: pointer;
}
.informacoesContato{
    border-top: #f0f0f0 0.2px solid;
    background-color: black;
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    color: #656161;
    text-align: center;
    font-size: 0.7em;
    margin-top: 20px;
}
.contato-link{
    color: #656161;
}